@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    max-width: 1180px;
    margin: auto;
    margin-top: 1rem;
}

img{
    border-radius: 5px;
}

/* .card{
    display: flex;
    height: 15rem;
    width: 40rem;
    padding: 10px;
    gap: 10px;
}

.card .avatar{
    height: 35px;
    width: 35px;
} */